#cpu_risultati, #gpu_risultati, #ram_risultati, #hdd_risultati, #ssd_risultati, #case_risultati {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 5px;
  display: none;
}
  
#cpu_risultati li, #gpu_risultati li, #ram_risultati li, #hdd_risultati li , #ssd_risultati li, #case_risultati li{
  padding: 5px;
  border-bottom: 1px solid #eee;
}
  
#cpu_risultati li:hover, #gpu_risultati li:hover, #ram_risultati li:hover, #hdd_risultati li:hover , #ssd_risultati li:hover, #case_risultati li:hover {
  background-color: #f0f0f0;
}


.config-section {
  margin-bottom: 30px;
}
.config-section h4 {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-left: 5px solid #198754;
}
.config-card-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}
.config-card {
  flex: 0 0 auto;
  width: 200px;
  margin: 0 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}
.config-card:hover {
  transform: scale(1.05);
}
.config-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.config-card .config-details {
  padding: 10px;
  background-color: white;
}
.config-card .config-details h5 {
  margin: 0;
  font-size: 1.2em;
}
.config-card .config-details p {
  margin: 5px 0 0;
  font-size: 1em;
  color: #555;
}

.tipologia {
  display: inline-block;
  padding: 3px 10px;
  background-color: #ffcc00; /* Scegli il colore di sfondo che preferisci */
  color: white; /* Colore del testo */
  border-radius: 10px; /* Bordi arrotondati */
  font-size: 0.875em; /* Dimensione del font, regolabile a piacere */
  text-align: center;
  cursor: pointer;
  margin: 5px 0; /* Margine per separarlo dagli altri elementi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombra per effetto di profondità */
}

#corpo {
  padding: 20px;
}

.prodotto {
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.prodotto:hover {
  transform: scale(1.01);
}

.prodotto img {
  max-width: 100px;
  margin-right: 15px;
}

.prodotto .details {
  display: inline-block;
  vertical-align: top;
}

.prodotto .details h5 {
  margin: 0 0 10px;
}

.prodotto .details p {
  margin: 0;
  color: #6c757d;
}