.container2 {
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-bottom: 10%;
    margin: 0 auto;
}

.carosello {
    width: 100%;
}

.carousel-description {
    color: #FFFFFF;
    /* color: #000; */
    text-decoration: underline;
}

.carousel-description:hover {
    color: #FFFFFF;
}

.carousel-description:active {
    color: #FFFFFF;
}

.config-section {
    margin-bottom: 30px;
    text-align: center;
}
.config-section h4 {
    font-size: 1.5em;
    margin-bottom: 20px;
    padding: 10px;
    color: #198754;
}
.config-card {
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 20px;
}
.config-card:hover {
    transform: scale(1.05);
}
.config-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.config-card .config-details {
    padding: 10px;
    background-color: white;
}
.config-card .config-details h5 {
    margin: 0;
    font-size: 1.2em;
}
.config-card .config-details p {
    margin: 5px 0 0;
    font-size: 1em;
    color: #555;
}
