.container2 {
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-bottom: 5%; /* Ridotto lo spazio tra il carosello e la sezione successiva */
    margin: 0 auto;
}

/* Ingrossa leggermente il carosello */
.carousel img {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Centra l'immagine all'interno del carosello */
}

.carousel-description {
    color: #ffffff; /* Colore del testo bianco */
}

.carousel-description:hover,
.carousel-description:active {
    color: #ffffff; /* Colore del testo bianco al passaggio del mouse e al clic */
}

.config-section {
    margin-bottom: 30px;
    text-align: center;
}

.config-section h4 {
    font-size: 2em; /* Aumenta la dimensione del titolo delle build consigliate */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    color: #198754;
}

.config-card {
    text-align: center;
    background-color: #ffffff; /* Sfondo bianco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.config-card:hover {
    transform: scale(1.05); /* Ingrandisce leggermente la card al passaggio del mouse */
}

.config-card img {
    width: 100%;
    height: 150px; /* Imposta un'altezza fissa per le immagini delle card */
    object-fit: cover;
}

.config-card .config-details {
    padding: 10px;
    background-color: #ffffff; /* Sfondo bianco */
}

.config-card .config-details h5 {
    margin: 0;
    font-size: 1.5em; /* Aumenta la dimensione del titolo delle configurazioni */
}

.config-card .config-details p {
    margin: 5px 0 0;
    font-size: 1.2em; /* Aumenta la dimensione del prezzo */
    color: #555;
}
